html, body {
  overflow-y: hidden; /* Disable vertical scrolling on the body */
  margin: 0; /* Remove default margin */
}

@media (max-width: 767px) {
  /* Add your CSS rules for mobile screens here */
  .footer-content {
    padding-bottom: 100px;
  }
  
}
